body,html{
    margin: 0;
    padding: 0;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.my_cv{
    max-width: 920px;
    width: 100%;
    display: block;
    border: 1px solid map-get($colors, 'dark');
}
#print{
    margin-left: auto;
    display: block;
    width: fit-content;
}